{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<title>Forum Lowongan</title>  

<script type="text/javascript" src="//platform.linkedin.com/in.js">
  api_key:   81382ld8zcpgct
  onLoad:    checkLoggedIn
  authorize: true
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" />

  <section style="display: none;">
    <!-- Main body -->
    <div class="container" style="margin-top: 60px; padding-top: 15px;">
      <div class="row">
        <h3>Forum Lowongan</h3>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="flex" style="margin-top: 20px">
            <div class="card-block">
              <!-- Form for new status -->
              <form class="card-text" method="POST" action="{% url 'forum_lowongan:add' %}">
                {% csrf_token %}
                <div class="card">
                  <div class="card-header" style="font-family: Spectral SC">
                    Deskripsi
                  </div>
                    <textarea class="form-control" name="content" rows="5" id="content" style="width: 100%" title="content"></textarea>
            
                </div>
              <button type="submit" class="btn btn-primary float-left" style="margin: 10px 0 25px 0" id="button"> Submit </button>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Print errors if any -->
    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}
    {% for i in forum reversed %}
      <div class="card">
        <div class="card-header" style="font-family: Spectral SC" id="lowongan">
          Lowongan
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="card-text"> {{ i.content }} </p>
            <footer class="blockquote-footer">{{ i.date }}</footer>
          </blockquote>
        </div>
      </div>
    {% endfor %}
    </div>

        <nav>
          {% if forum.has_other_pages %}
          <ul class="pagination" style="justify-content: center; margin-top: 20px">
            {% if forum.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ forum.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in forum.paginator.page_range %}
              {% if forum.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if forum.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ forum.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
    </section>

<script src="{% static 'js/forum.js' %}"></script>
{% endblock %}
