section{
  padding-top: 60px;

}

.card {
    /* background: rgba(51, 51, 51, 0.1); */
    margin-top: 1rem;
    padding: 2rem;
}

.flex-container {
    /*outline: auto;*/
    height: rem;
    padding: 1rem;
}
