{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="description" content="LAB 5"> -->
    <meta name="author" content="{{author}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="//platform.linkedin.com/in.js">     
        api_key: 81382ld8zcpgct
        onLoad: onLinkedInLoad
        authorize: true
	</script>

    <title>
        Profile
    </title>

    <style>
        .data {
            width: 50%;
        }

        .profile-container {
            display: grid;
            padding: 20px;
        }

        .company-img {
            width: 120px;
            height: auto;
            margin: 10px 0px 10px 0px;
            position: 25%;
        }

    </style>
</head>


<body>
    <div class="profile-container">
        <script type="in/Login"></script> 

        <div class="data">

        </div>

        <div id="logout-btn">

        </div>
    </div>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</section>
</body>
</html>
<script type="text/javascript">
    // companyID : 13602318 <-- Dummy Company
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        getCompanyData();
        $('#logout-btn').html('<button class="logout" onclick="logout()" style="width:10%; height:10%"> Logout </button>');
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~").result(onSuccess).error(onError);

    }

    function logout() {
        IN.User.logout(success_logout);
    }

    function success_logout() {
        window.location.replace('/halaman_utama/')
    }

    function getCompanyData() {
        IN.API.Raw("/companies/13602318:(id,ticker,name,company-type,specialties,website-url)?format=json").result(render).error(onError);
    }

    function render(data) {
        console.log(data);
        spec = "";

        for (i = 0; i < data.specialties.values.length; i++) {
            spec += "<ul> > " + data.specialties.values[i] + "</ul>"
        }

        $(".data").html(
            '<h2> Welcome to Our Company </h2>' +
            '<img class="company-img" src="https://vignette.wikia.nocookie.net/cityville/images/0/03/Empire_State_Building.png/revision/latest?cb=20110117174002">' +
            '<div class="panel panel-default">' +
                '<div class="panel-heading">' +
                    '<h2> Company Profile </h2>' +
                '</div>' +
                '<div class="panel-body">' +
                    '<p> Company Name : ' + data.name + '</p>' +
                    '<p> Company Type : ' + data.companyType.name + '</p>' +
                    '<p> Company URL : ' + data.websiteUrl + '</p>' + 
                    '<p> Secialties : ' + '</p>'+ spec +
                    '<a style="float:left; margin-right:5px;" href="#" class="btn btn-danger pull-right"> Forum </a>' +
                    '<a style="float:left; margin-right:5px;" href="#" class="btn btn-danger pull-right"> Search User </a>' +
                '</div>' +
                '<div class="panel-footer">' +
                    
                '</div>' +
            '</div>' 
        )
    }

</script>
{% endblock %}