{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <!-- <meta name="description" content="LAB 5"> -->
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: 81382ld8zcpgct
        onLoad: onLinkedInLoad
        authorize: true
    </script>
</head>
 
 <style>
 	body{
 		background-color: white;
 	}

    .atas{
        background-image: url(https://www.webershandwick.com/images/uploads/facebook-at-work.jpg);
        padding-bottom: 200px;
        color: black;

    }
    .kotak{
        background-color: white;
        width: 450px;
        margin: auto;
        padding-top: 50px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 50px;
        align-content: center;
        border-radius: 3%;
    }

    #expert{
    transition-duration: 0.5s;
    }

    #expert:hover{
    background-color: white;
    }

    #button
    {
    height:40px; 
    width:150px; 
    margin: -50px -50px; 
    position:relative;
    top:50%; 
    left:50%;
  }

    .button
    {
        text-align: center; 
        position: relative; 
        left: 650px;    }    
 </style>

<body>
 
    
    <content>
    <div class="atas">
            <br> 
            <br>
            <br>
            <div class="kotak" id="expert" >
            <div class="container" class="profilecenter">
            <img style="display:block; margin:auto;" src="https://image.ibb.co/c3gc4b/logo.png" alt="logo" border="0" ></a>
            <br>
            <br>
            <h5 style="font-family: Spectral SC">Login to Find Your Job</h5>
            <script type="in/Login"></script>
            <div class="data">
                <div id="logout-btn">
                    
                </div>
            </div>
            </div>
            </div>
    </div>
    <div class="container-forums">
    <h1 style="padding-top: 50px; font-family: Spectral SC; size: 50px; text-align: center;">JOB VACANCY</h1>
    
    </div>
    </content>
 
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
<script type="text/javascript">
    // companyID : 13602318 <-- Dummy Company
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }
 
    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        getCompanyData();
        window.location.replace("/company/profile");
        // $('#logout-btn').html('<button class="logout" onclick="logout()" style="width:10%; height:10%"> Logout </button>');

    }

    // Handle the successful return from the API call
    function displayProfileData(data){
    console.log(data);
    var user = data.values[0];
    $("#logout-btn").append('<a class="btn btn-primary btn-lg" href="/profile/" role="button">Company Dashboard &raquo;</a>')
    $("#name").append('Logged in as '+user.firstName+' '+user.lastName);
    $("#space-logout").append('<li class="nav-item"><a class="btn btn-danger" onclick="logout()">Logout</a></li>');
    document.getElementById('profileData').style.display = 'block';
}
 
    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
 
    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~").result(onSuccess).error(onError);
 
    }

    // Remove profile data from page
    function removeProfileData(){
    document.getElementById('profileData').remove();
    window.location = "/";
    }
 
    function logout() {
        IN.User.logout(success_logout);
    }

    function success_logout(){
        $('#data').html('');
        alert("logout")
        location.reload()
    }
 
    function getCompanyData() {
        IN.API.Raw("/companies/13602318:(id,ticker,name,company-type,specialties,website-url)?format=json").result(render).error(onError);
    }
 
    function render(data) {
        console.log(data);
        $(".data").html()
    }

    // function hideReplies(id){
  //   var list = document.getElementById("reply-"+id);
  //   var button = document.getElementById("btn-show-comment-"+id);
  //   list.setAttribute("hidden", "true");
  //   button.href = "javascript:showReplies(" + id +",true)";
  //   button.innerHTML = "Show replies";
  //   }

  //   function showReplies(id, isCalled){
  //   var list = document.getElementById("reply-"+id);
  //   var button = document.getElementById("btn-show-comment-"+id);

  // if (!isCalled) {
  //   console.log("initiating ajax call");

  //   $.ajax({
  //     type:"GET",
  //     url:"/fitur4/get_comment/?id=" + id,
  //     success: function(result) {
  //       console.log("ajax call success");
  //       var reply_list = $("#reply-"+id);
  //       console.log(result.length);
  //       result.forEach(function(item, index, arr){
  //         console.log(index);
  //         var name = item['name'];
  //         var title = item['title'];
  //         var content = item['content'];
  //         console.log(name + " " + title + " " + content);
  //         text_content = '<li class="list-group-item">' +
  //           '<h5 class="card-title">' + name + '</h5>' + 
  //           '<h6 class="card-subtitle text-muted">' + title + '</h6>' + 
  //           '<p class="card-text">' + content + '</p>' + 
  //           '</li>';
  //         reply_list.append(text_content);
  //       });
  //       button.href = "javascript:hideReplies(" + id + ")";
  //       button.innerHTML = "Hide replies"
  //       list.removeAttribute("hidden");

  //     },
  //     error: function(result) {
  //       alert("error cuy");
  //     }
  //   });
  // } else {
  //   list.style.visibility = "visible";
  //   button.href = "javascript:hideReplies(" + id + ")";
  //   button.innerHTML = "Hide replies";
  //   list.removeAttribute("hidden");
  // }
  //   function hideReplies(id){
  //   var list = document.getElementById("reply-"+id);
  //   var button = document.getElementById("btn-show-comment-"+id);
  //   list.setAttribute("hidden", "true");
  //   button.href = "javascript:showReplies(" + id +",true)";
  //   button.innerHTML = "Show replies";
  //   }

  //   function showReplies(id, isCalled){
  //   var list = document.getElementById("reply-"+id);
  //   var button = document.getElementById("btn-show-comment-"+id);

  // if (!isCalled) {
  //   console.log("initiating ajax call");

  //   $.ajax({
  //     type:"GET",
  //     url:"/fitur4/get_comment/?id=" + id, YANG INI FITUR TETEH KAYANYA
  //     success: function(result) {
  //       console.log("ajax call success");
  //       var reply_list = $("#reply-"+id);
  //       console.log(result.length);
  //       result.forEach(function(item, index, arr){
  //         console.log(index);
  //         var name = item['name'];
  //         var title = item['title'];
  //         var content = item['content'];
  //         console.log(name + " " + title + " " + content);
  //         text_content = '<li class="list-group-item">' +
  //           '<h5 class="card-title">' + name + '</h5>' + 
  //           '<h6 class="card-subtitle text-muted">' + title + '</h6>' + 
  //           '<p class="card-text">' + content + '</p>' + 
  //           '</li>';
  //         reply_list.append(text_content);
  //       });
  //       button.href = "javascript:hideReplies(" + id + ")";
  //       button.innerHTML = "Hide replies"
  //       list.removeAttribute("hidden");

  //     },
  //     error: function(result) {
  //       alert("error cuy");
  //     }
  //   });
  // } else {
  //   list.style.visibility = "visible";
  //   button.href = "javascript:hideReplies(" + id + ")";
  //   button.innerHTML = "Hide replies";
  //   list.removeAttribute("hidden");
  // }


 
</script>

{% endblock %}